body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,p,th,td,table,textarea,select{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
th,em{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
img,a img{border:0;}
html{
    font-size: 37.5px;
}
ul,span,input{
    list-style: none;
    padding: 0;
    margin:0;
    outline: medium;
}
ul,li{ padding:0;margin:0;list-style:none}
input{
    font-size: .44rem;
    text-indent: 0;
    background: transparent;
    border: 0 none;
    resize:none;
    outline:none;  /*清除选中效果的默认蓝色边框 */
    -webkit-appearance:none;  /*清除浏览器默认的样式 */
    line-height: normal;   //光标问题
}
.btn-Container{
    width: 100%;
    bottom:50px;
    position:fixed;
}
.btnBottom{
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #E64461;
    border-radius: 12px;
    color: #ADCCE8;
    font-size: .44rem;
}
.circle-flex{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #EEEEEE;
}
.flex-normal{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.little-font{
    font-size: .35rem;
}
.colorNum1{
    color: #FFA269;
}
.colorNum2{
    color: #E64461;
}
.boldNum{
    font-weight: bold;
}
.bottom-border{
    border-bottom: 1px solid #EEEEEE;
}
.energi{
    width: 3.44rem;
    height: 12px;
    background: #3CD5AF;
    display: block;
}
.block{
    display: block;
}
.leftFloat{
    float: left;
}
.clearBoth{
    clear: both;
}
.rightIcon{
    display: block;
    width: 7px;
    height: 7px;
    border-top: 1px solid #9B9B9B;
    border-right: 1px solid #9B9B9B;
    transform: rotate(45deg);
}